<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokédex App</title>
</head>
<body>
  <div class="app-container">
    <header>
      <h1>Pokédex</h1>
      <p>Rogelio Tadeo<p>
    </header>
    <router-outlet></router-outlet>
    <div class="logo-container">
      <img src="assets/pokemon-logo.png" class="pokemon-logo" alt="Pokémon Logo">
    </div>
    <footer>
      
    </footer>
  </div>
</body>
</html>
